---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/NavBar/index.astro";
import Counter from "../components/Counter";
---

<Layout title="Vadim Gerasimov">
  <Navbar />
  <Counter client:only start={3} />
  <div class="flex justify-center items-center gap-5 flex-col">{}</div>
</Layout>
