---
import NavLink from "./NavLink.astro";
---

<div class="flex bg-transparent items-center gap-5 px-10">
  <h1 class="font-serif text-5xl">Vadim Gerasimov</h1>
  <ul class="flex flex-1 gap-10 justify-center">
    <NavLink href={"home"} title="Home" />
    <NavLink href={"contact"} title="Contact" />
  </ul>
</div>
